<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button default-href="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi cuenta</ion-title>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" color="primary" *ngIf="carga"></ion-progress-bar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-button shape="round" (click)="cerrarsesion()">
    <ion-icon slot="start" name="log-out-outline" ></ion-icon>
    Cerrar Sesión
  </ion-button>
</ion-content>
