<ion-header>
  <ion-progress-bar type="indeterminate" color="primary" *ngIf="carga"></ion-progress-bar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card class="login">
    <div class="header">
        <ion-img src="https://firebasestorage.googleapis.com/v0/b/tienda-aia.appspot.com/o/tiendaaia-logo.jpg?alt=media&token=3c19f679-b77e-4a06-81cb-9881ad9e26de" alt="Asistencia Integral Automotriz"></ion-img>
        <br>
        <ion-card-subtitle>Bienvenido de nuevo</ion-card-subtitle>
        <ion-card-title>Iniciar Sesión</ion-card-title>
    </div>
    <ion-card-content>
      <ion-input [(ngModel)]="user" class="label" label="Correo" label-placement="floating" fill="outline"></ion-input>
      <ion-input [(ngModel)]="pass" class="label" type="password" label="Contraseña" label-placement="floating" fill="outline"></ion-input>
      <div class="buttons">
        <ion-button color="primary" (click)="login()">
          <ion-icon name="enter-outline" slot="start"></ion-icon>
          Ingresar
        </ion-button>
        <ion-button color="secondary" (click)="State()">
          <ion-icon name="caret-forward-circle-outline" slot="start"></ion-icon>
          Registrarme
        </ion-button>
        <ion-button color="tertiary" fill="clear" [routerLink]="['/recucontra']" >
          Olvidé mi contraseña
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>
